.message {
	border-style: solid;
	border-width: 1px;
	padding: 3px;
}

/* initially the message is in an unknown status */
.initMessage {
	border-width: 0px;
}

.warningMessage {
	border-color: #FA8072;
	color: #FA8072;
}

.infoMessage {
	border-color: #228B22;
	color: #228B22;
}
