<div class="container">
	<h2>Sign Up</h2>

	<form name="signUpForm" novalidate>
		<div class="form-group row">
			<label for="first-name-input" class="col-md-2 col-xs-2 col-form-label">First Name</label>
			<div class="col-md-6 col-xs-10">
				<input id="first-name-input" class="form-control" type="text" name="firstName" placeholder="First Name" ng-model="signUpCtrl.firstName" required>
				<span class="text-warning" ng-if="signUpForm.firstName.$touched && signUpForm.firstName.$error.required">
					First Name is a required field
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="last-name-input" class="col-md-2 col-xs-2 col-form-label">Last Name</label>
			<div class="col-md-6 col-xs-10">
				<input id="last-name-input" class="form-control" type="text" name="lastName" placeholder="Last Name" ng-model="signUpCtrl.lastName" required>
				<span class="text-warning" ng-if="signUpForm.lastName.$touched && signUpForm.lastName.$error.required">
					Last Name is a required field
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="email-input" class="col-md-2 col-xs-2 col-form-label">Email</label>
			<div class="col-md-6 col-xs-10">
				<input id="email-input" class="form-control" type="email" name="email" placeholder="a@b.c" ng-model="signUpCtrl.email" required>
				<span class="text-warning" ng-if="signUpForm.email.$touched && signUpForm.email.$invalid">
					Email must be valid
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="phone-input" class="col-md-2 col-xs-2 col-form-label">Phone</label>
			<div class="col-md-6 col-xs-10">
				<input id="phone-input" class="form-control" type="text" name="phone" placeholder="###-###-####" ng-model="signUpCtrl.phone" required pattern="(\d{3})-(\d{3})-(\d{4})">
				<span class="text-warning" ng-if="signUpForm.phone.$touched && signUpForm.phone.$invalid">
					Phone must be valid
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="fav-input" class="col-md-2 col-xs-2 col-form-label">Favorite</label>
			<div class="col-md-6 col-xs-10">
				<input id="fav-input" class="form-control" type="text" name="fav" placeholder="Favorite Item" ng-model="signUpCtrl.favMenuShortName" required">
				<span class="text-warning" ng-if="signUpForm.fav.$touched && signUpForm.fav.$invalid">
					Favorite is required
				</span>
				<span class="text-warning" ng-if="!signUpCtrl.favMenuItemValidated">
					No such menu number exists
				</span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-2 col-xs-3">
				<input class="form-control" type="submit" value="Submit" ng-disabled="signUpForm.$invalid" ng-click="signUpCtrl.submit()"></input>
			</div>
		</div>
		<div>
			<span ng-if="signUpCtrl.submitSuccess">Your information has been saved</span>
		</div>
	</form>
</div>
